<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style/homepage.css">
    <link rel="shortcut icon" type="image/png" href="img/Logo.png"/>
    <title>Light Live</title>
</head>
<body>
    <!--! header -->
    <header>
        <div class="head-left">
            <a href="index.html"><img src="img/Logo.png" alt="light live"></a>
            <a href="index.html"><div style="background:#00764C; color:#fff; border-radius:30px; box-shadow: 0 0 10px #00764C;">Homepage</div></a>
            <a href="menu.html"><div>Menu</div></a>
            <a href=""><div>Rewards</div></a>
            <a href=""><div>Voucher</div></a>
            <a href=""><div>Points</div></a>
        </div>
        <div class="head-right">
            <div class="contact">
                <letter>Contact us: </letter>
                <Number>+84  916338046</Number>
            </div>
            <a href="login.html"><button>Log in</button></a>
            <a href="signup.html"><button>Sign up</button></a>
        </div>
    </header>


    <!--! body -->
    <div class="container">
        <article>
            <img src="img/homepage_article.png" alt="article">
            <div class="about" style="--perc:-40%;">
                about light live <br>
            </div>
            <div class="lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit cumque voluptas omnis beatae necessitatibus tempora inventore, sunt veniam voluptatum eius molestias corrupti explicabo, sit dolorum vero ipsum quae officia. Quam000           
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque voluptas molestias tenetur! Explicabo labore hic, dolores earum totam consequatur architecto dolor voluptate consectetur libero facilis omnis ex commodi necessitatibus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem voluptates, dolores, odio ipsam dignissimos atque consequuntur eligendi, illo rem eveniet. Harum, maxime. Cumque, totam adipisci. Nam illo ullam qui!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis adipisci voluptatem repellat cum assumenda eum animi at perspiciatis quam, beatae tempore asperiores fuga nesciunt facere eveniet error, sint voluptatibus? Labore?    
            </div>
            <button>Find out more!</button>
        </article>
        <div class="mission" style="--length:5%;">
            <img src="img/homepage_ourmission.png" alt="our-mission">
            <div class="border"></div>
            <div class="our-mission">
                <div class="OM">
                    Our mission
                </div>
                <div class="OM-lorem">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sit optio, doloremque quo facere natus voluptate sapiente repellat corporis, ut qui commodi ipsam unde sequi cumque quidem eveniet iure. Laborum?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident hic repellat, molestias expedita cupiditate quam. Mollitia dolor inventore nihil non accusantium, voluptate nesciunt ipsam, repudiandae architecto dolores minima fugiat quae.
                </div>
            </div>
        </div>
    </div>


    <!--! footer -->
    <footer >
        <div class="contact-us">
            <div class="C-Us">
                Contact us
            </div>
            <div class="detail">
                Tran Tien Dung <br>
                Zalo contact: +84 916338046
            </div>
        </div>
        <div class="social-media">
            <div class="SM">
                social media
            </div>
            <div class="SM-logo">
                <a href="https://www.facebook.com/profile.php?id=100081956462790"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UClnZD9y71DRS6Rh4XLops2Q"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.youtube.com/channel/UClnZD9y71DRS6Rh4XLops2Q"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/0613Dung"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>